# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
venv/
ENV/
env/

# PyCharm project files
.idea/

# VS Code settings
.vscode/

# Logs and debug
*.log

# System files
.DS_Store
Thumbs.db

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Temporary files
*.bak
*.swp
*~

# GitHub token files (if any)
*.token
